* {
    margin: 0;
    font-family:Tahoma;
}
.secao{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    
}
.secao p{
    margin: 10px auto;
    width: 90%;
    max-width: 1024px;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}
.secao-cabecalho{
    padding: 30px 0;
    background-color: #afddfb;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}
.secao-cabecalho img{
    width: 100%;
    max-width: 150px;
}
.secao-cabecalho p a{
    text-align: center;
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

.secao-banner{
    width: 100%;
    margin-top: 50px;
    padding: 0;
}
.secao-banner img{
    width: 100%;
    max-width: 1024px;
    
}

.secao-sobre h1{
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2{
    color: #1c81c0;
    font-size: 28px;
    line-height: 42px;
    padding: 10px;
}

.secao-sobre h2{
    font-size: 20px;
    margin-top: 0;
    font-weight: bold;
}
    
.secao-sobre img{
    width: 450px;
}

.secao-sobre .texto-destaque{
    color: #1c81c1;
}

.texto-destaque{
    font-weight:bold;
}

.secao-servicos{
    background-color: #1d80c1;

}

.secao-servicos h2{
    color: #fff
}

.secao-servicos p{

    color: #fff;
    font-size: 22px;
    line-height: 42px;
    width: 100%;
    text-align: center;
}

.secao-servicos .texto-destaque{
    color: #fff81b;
}

.secao-servicos ul{
    margin: 40px auto;
    width: 135px;
    color: #fff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

.secao-corretores img{
    width: 450px;
}

.secao-corretores .texto-destaque{
    color: #1c81c1;
}

.secao-contato{
    background-color: #1d80c1; 
}

.secao-contato h2{
    color: #fff;
}

.secao-contato p{
    color: #fff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
}

.secao-contato .texto-destaque{
    color: #fff81b;
    
}

.secao-contato ul{
    margin: 40px auto 40px;
    width: 210px;
}

.secao-contato li{
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}    
    
iframe{
    width: 100%;
    height: 50vh;;
}